/*I DON'T WANT VW IF IT IS IN LANDSCAPE*/
html,body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}    
body {
    display: flex;
    flex-direction: row;
    background-color: green;
}
#canvas {
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100vw;
    height: 100vh;
    aspect-ratio: 1;
    position:relative;
    z-index: 0;
}
#left,#right {
    display:inline-block;
    position: relative;
}
#left {
    /*width: 264px;*/
    width: 68.75vw;
}
#right {
    margin-left: 0.25vw;
    /*min-width: 100px;*/
    width: 28vw;
    display: flex;
    flex-direction: column;
    
}

.card,.pile {
    position: absolute;
    width: 12vw;/*10vmin;*/
    height: 8.3vh; /*6.67vmin;*/
    margin: 3px;
    text-align: center;
    user-select: none;
    font-size: 6.5vmin; /*5.33vmin;*/
}
/*.card>.bottom {
    margin:0px;
    position:absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding:0px;
    background-color: white;
    overflow: clip;
}*/
.card {
    background-color: white;
    border: 1px solid black;
    top: 0px;
    left: 0px;
    cursor: pointer;
    transition: top 0.2s, left 0.2s;
    pointer-events: none;
}
.card.braidcard {
    transition: top 1s, left 1s;
}
/*.back {
    background-size: cover;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
*/
.talon>.overlay
{
    background: url("cardback.png");
    background-size: cover;
    color: white;
    overflow: clip;
    

}
.pile {
    border: 1px solid white;
    color: white;
    background-color: rgba(255,255,255,0.1);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.01);
    color: rgba(255,255,255,0.5);
    z-index: 2000; /*when facedown,put on top*/
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: sans-serif;
    font-size: 3vmin;
    overflow: clip;

}

#talonbox {
    display: grid;
    justify-content: end;
    position: relative;
    grid-template-columns: 20vh 1fr;
    column-gap: 1vh;
    grid-template-rows: 1fr 1fr;
    width: 45%;
}
#mid {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 7vh;
}
#talonbox>.pile {grid-column: 2;}
#available {
    display: inline-block;
    background: url("icons/available.png");
    background-size: cover;
    width: 12vmin;
    height: 12vmin;
    margin-right: 3vw;
}

#talonbox .card,
#talonbox .pile,
#free .card,
#free .pile,
#dock .card,
#dock .pile,
#foundations .card,
#foundations .pile 
{
    position: relative;
}
#free,#dock {
    position: relative;
    display:grid;
    justify-content: space-evenly;
}
#free {grid-template-columns: repeat(4,1fr);}
#dock {grid-template-columns: repeat(5,1fr);}
#free {
    grid-template-rows: 1fr 1fr;
    position: absolute;
    left: 0px;
    top: 75vh;
}
#dock {
    left: 0px;
    top: 60vh;
    background: linear-gradient(0deg, blue 0%, cyan 50%, blue 100%);
    background-size: cover;
    grid-template-rows: 1fr;
    margin-bottom: 5vh;
    
}
.talon > .overlay {
    opacity: 100%;
    background-color: blue;
    padding:1px;
    padding-bottom:2px;
    margin:0px;
}
.pile.hover {
    border: 4px solid yellow;
    margin: 0px;
}
.card.dragging {
    z-index: 3000 !important;
    transition: top 0s, left 0s;
}
.pile.highlight {
    border: 4px solid red;
    margin: 0px;
}

.pile.braid {
    background: transparent;
    border: transparent;
}
#braid {
    height: 58.3vh; /*200px;*/
    width: 68.75vw; /*265px;*/
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#braid .card, #braid .pile {
    width: 10.6vw;
    height: 7.77vh;
    position:relative;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card.braidcard {
    display: flex;
    justify-content: center;
}
.card.braidcard.aligntop {
    align-items: start;
}
.card.braidcard.alignbottom {
    align-items: end;
}
.braidbg,.targetbg {
    width: 100%;
    height: 100%;
}
#foundations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    column-gap: 1vh;
    position: relative;
    justify-items: center;
}


#direction {
    position: absolute;
    left: calc(45% - 2px);
    top: calc(45% - 1px);
    width: 10%;
    margin: 0px;
    padding: 0px;
    border: solid cyan;
    border-width: 0px 16px 16px 0px;
    border-style: solid;
    transform: rotate(-45deg);
    aspect-ratio: 1;
    min-height: 0px;
    opacity: 0;
    transition: opacity 0.1s, transform 0.1s;
    z-index: 3000;
}
#direction.up {
    opacity: 0.5;
    transform: rotate(-135deg);
}
#direction.down {
    opacity: 0.5;
    transform: rotate(45deg);
}

.foundation .overlay.done {
    opacity: 50%;
}
#buttons {
    display: flex;
    margin-top: 5vh;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 18vw;
}
#buttons button {
    width: 12vmin;
    height: 12vmin;
    border-radius: 10px;
    background-size: cover;
    margin: 1vmin;
}
#undo {
    background: url("icons/undo.png");
    background-size: cover;
}
#redo {
    background: url("icons/redo.png");
    background-size: cover;
}

.tooltip {/*apply this class to the object that receives the tip*/
    position: relative;
}
.tooltip .tttext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 0;
}
.tooltip:hover .tttext {
    visibility: visible;
    z-index: 5000;
}

#win {
    font-size: 50vw;
    text-align: center;
    position: absolute;
    color: purple;
    font-family: sans-serif;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    top: 50%;
    font-weight: bold;
    display: none;
}
.help {
    font-family: sans-serif;
    font-size: 5vmin;
    color: rgba(255,255,255,0.5);
    position: absolute;
    top: 50vh;
    left: 50vw;
    text-align: center;
}
.help#freehelp {
    top: 95vh;
    left: 22.5vw;
}
.help#dockshelp {
    top: 55vh;
    left: 31.5vw;
}
.help#braidhelp {
    top: 40vh;
    left: 10vw;
}
.help#foundationhelp {
    top: 13vh;
    right: 14vw;
    transform: rotate(-90deg);
}
#rules {
    position: absolute;
    cursor: pointer;
    top:  38vh;
    left: 1vw;
    padding: 5px;
    font-size: 10vmin;
    z-index: 0;
    
}
#rules>img {
    height: 20vmin;
    opacity: 0.5;
}
#popup {
    border: 4px solid black;
    position: fixed;
    left: 30vw;
    top: 10vh;
    width: 40vw;
    max-height: 80vh;
    font-size: 3vmin;
    color: black;
    background-color: white;
    text-align: left;
    opacity: 1;
    z-index: 9999;
    display: none;
    padding: 3vmin;
    margin: 0px;
    overflow-y: scroll;
}
#popup img {
    width: 3vmin;
}
#popup>h2 {
    margin: 0px;
}
#popup>ul {
    margin: 2px;
    padding: 0px;
}
