/*I DON'T WANT VW IF IT IS IN LANDSCAPE*/
body {
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: green;
}
#canvas {
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100vw;
    height: 100vh;
    aspect-ratio: 1;
    position:relative;
    z-index: 0;
}
#left,#right {
    display:inline-block;
    position: relative;
}
#left {
    /*width: 264px;*/
    width: 68.75vw;
}
#right {
    margin-left: 0.25vw;
    /*min-width: 100px;*/
    width: 31vw;
    display: flex;
    flex-direction: column;
    
}

.card,.pile {
    position: absolute;
    width: 12vw;/*10vmin;*/
    height: 8.3vh; /*6.67vmin;*/
    margin: 3px;
    text-align: center;
    user-select: none;
    font-size: 6.5vmin; /*5.33vmin;*/
}
.card {
    background-color: white;
    border: 1px solid black;
    top: 0px;
    left: 0px;
    cursor: pointer;
    transition: top 0.2s, left 0.2s;
    pointer-events: none;
}
.back {
    background-color: blue;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
.pile {
    border: 1px solid white;
    color: white;
    background-color: rgba(255,255,255,0.1);
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: blue;
    opacity: 1%;
    z-index: 2000; /*when facedown,put on top*/
    position: absolute;
    top: 0px;
    left: 0px;
}

#talonbox {
    display: grid;
    justify-content: center;
    position: relative;
}
#talonbox .card,
#talonbox .pile,
#free .card,
#free .pile,
#dock .card,
#dock .pile,
#foundations .card,
#foundations .pile 
{
    position: relative;
}
#free,#dock {
    position: relative;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    /*padding-left: 10px; /*this is stupid*/
}
#free {
    grid-template-rows: 1fr 1fr;
    position: absolute;
    left: 0px;
    top: 75vh;
}
#dock {
    left: 0px;
    top: 60vh;
    background: linear-gradient(0deg, blue 0%, cyan 50%, blue 100%);
    background-size: cover;
    grid-template-rows: 1fr;
    margin-bottom: 5vh;
    
}
.talon > .overlay {
    opacity: 100%;
    background-color: blue;
    padding:1px;
    padding-bottom:2px;
    margin:0px;
}
.pile.hover {
    border: 4px solid yellow;
    margin: 0px;
}
.card.dragging {
    z-index: 3000 !important;
    transition: top 0s, left 0s;
}
.pile.highlight {
    border: 4px solid red;
    margin: 0px;
}

.pile.braid {
    background: transparent;
    border: transparent;
}
#braid {
    height: 58.3vh; /*200px;*/
    width: 68.75vw; /*265px;*/
    position: absolute;
    top: 0px;
    left: 0px;
}

#braid .card, #braid .pile {
    width: 10.6vw;
    height: 7.77vh;
}
.braidbg,.targetbg {
    position:absolute;
}
#foundations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    column-gap: 5px;
    position: relative;
}


#direction {
    position: absolute;
    left: calc(45% - 2px);
    top: calc(45% - 1px);
    width: 10%;
    margin: 0px;
    padding: 0px;
    border: solid cyan;
    border-width: 0px 4px 4px 0px;
    border-style: solid;
    transform: rotate(-45deg);
    aspect-ratio: 1;
    min-height: 0px;
    opacity: 0;
    transition: opacity 0.1s, transform 0.1s;
    z-index: 3;
}
#direction.up {
    opacity: 1;
    transform: rotate(-135deg);
}
#direction.down {
    opacity: 1;
    transform: rotate(45deg);
}

.foundation .overlay.done {
    opacity: 50%;
}
#buttons {
    display: grid;
    margin-top: 5vh;
    padding: 5vh;
}
